* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  height: 100vh;
  width: 56.25vh;
  font-size: 2.5vh;
}

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board {
  border: 3px solid black;
  background-color: rgb(13, 0, 190);
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  gap: 2px;
}

.board-border-square {
  background-color: #f40;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}  

.board-square {
  background-color: blue;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .board-square:hover {
  border: 2px solid #0f0;
} */

.ship-left {
  border-top: 3px #333 solid;
  border-left: 3px #333 solid;
  border-bottom: 3px #333 solid;
  background-color: grey;
}

.ship-lr-mid {
  border-top: 3px #333 solid;
  border-bottom: 3px #333 solid;
  background-color: grey;
}

.ship-right {
  border-top: 3px #333 solid;
  border-right: 3px #333 solid;
  border-bottom: 3px #333 solid;
  background-color: grey;
}

.ship-top {
  border-top: 3px #333 solid;
  border-left: 3px #333 solid;
  border-right: 3px #333 solid;
  background-color: grey;
}

.ship-tb-mid {
  border-left: 3px #333 solid;
  border-right: 3px #333 solid;
  background-color: grey;
}

.ship-bottom {
  border-left: 3px #333 solid;
  border-right: 3px #333 solid;
  border-bottom: 3px #333 solid;
  background-color: grey;
}

.ship-deploying-left {
  border-top: 3px #333 dashed;
  border-left: 3px #333 dashed;
  border-bottom: 3px #333 dashed;
  background-color: grey;
}

.ship-deploying-lr-mid {
  border-top: 3px #333 dashed;
  border-bottom: 3px #333 dashed;
  background-color: grey;
}

.ship-deploying-right {
  border-top: 3px #333 dashed;
  border-right: 3px #333 dashed;
  border-bottom: 3px #333 dashed;
  background-color: grey;
}

.ship-deploying-top {
  border-top: 3px #333 dashed;
  border-left: 3px #333 dashed;
  border-right: 3px #333 dashed;
  background-color: grey;
}

.ship-deploying-tb-mid {
  border-left: 3px #333 dashed;
  border-right: 3px #333 dashed;
  background-color: grey;
}

.ship-deploying-bottom {
  border-left: 3px #333 dashed;
  border-right: 3px #333 dashed;
  border-bottom: 3px #333 dashed;
  background-color: grey;
}

.ship-collision-left {
  border-top: 3px #f00 dashed;
  border-left: 3px #f00 dashed;
  border-bottom: 3px #f00 dashed;
  background-color: grey;
}

.ship-collision-lr-mid {
  border-top: 3px #f00 dashed;
  border-bottom: 3px #f00 dashed;
  background-color: grey;
}

.ship-collision-right {
  border-top: 3px #f00 dashed;
  border-right: 3px #f00 dashed;
  border-bottom: 3px #f00 dashed;
  background-color: grey;
}

.ship-collision-top {
  border-top: 3px #f00 dashed;
  border-left: 3px #f00 dashed;
  border-right: 3px #f00 dashed;
  background-color: grey;
}

.ship-collision-tb-mid {
  border-left: 3px #f00 dashed;
  border-right: 3px #f00 dashed;
  background-color: grey;
}

.ship-collision-bottom {
  border-left: 3px #f00 dashed;
  border-right: 3px #f00 dashed;
  border-bottom: 3px #f00 dashed;
  background-color: grey;
}

.peg-hole {
  height: 1.2vh;
  width: 1.2vh;
  background-color: rgb(13, 0, 190);
  border-radius: 50%;
  display: inline-block;
}

.in-ship {
  background-color: #333;
}

.anchor {
  background-color: #0f0;
}

.peg {
  height: 2vh;
  width: 2vh;
  border-radius: 50%;
  /* border: 2px solid; */
  display: inline-block;
}

.white-peg {
  background-color: #fff;
  /* border-color: #aaa; */
}

.red-peg {
  background-color: #e00;
  /* border-color: #900; */
}

.ship {
  background-color: grey;
  border: 3px solid black;
  position: absolute;
}

.message {
  position: absolute;
  visibility: hidden;
  /* float: left; */
  /* margin: 0 auto; */
  background-color: #f7ed9c;
  width: 50vh;
  min-height: 20vh;
  left: 3vh;
  top: 35vh;
  border: 1vh solid black;
  border-radius: 10%;
  font-size: 3.5vh;
  padding: 1vh;
}

.show-message {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}